.container {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
}

.photo {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}