.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  height: 60px;
  margin: auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .header {
    padding: 0 32px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0 60px;
  }
}

.buttonContainer {
  display: inline-flex;
  gap: 10px;
}