.uploader {
  display: flex;
  width: 328px;
  height: 54px;
  margin: auto;
}

.uploader_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
  background: #F8F8F8;
  width: 83px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-collapse: collapse;
  border-radius: 4px 0px 0px 4px;
}

.uploader_button:hover {
  cursor: pointer;
}

.uploader_label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  color: #7E7E7E;
  width: 100%;
  padding-left: 16px;
  border: 1px solid #D0CFCF;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.uploader_label:hover {
  cursor: pointer;
}

.upload_error {
  display: block;
  text-align: center;
  margin: 8px;
  font-size: 16px;
  line-height: 26px;
  color: red;
  font-weight: bold;
}

@media (min-width: 768px) {
  .uploader {
    width: 380px;
  }

  .upload_error {
    margin: 16px;
  }
}
