.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
  background: #F4E041;
  border: none;
  border-radius: 80px;
}

.button:hover {
  cursor: pointer;
  background: #FFE302;
}

.button:disabled {
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.87);
  background: #B4B4B4;
}